.ProductInfoContainer{
  padding: 4% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .left{
    img{
      width: 600px;
      height: 100%;
    }
  }
  .right{
    h2{
      color: #fff;
      font-weight: 600;
      font-size: 30px;
      font-family: Arial,sans-serif;
    }
    p{
      font-weight: 400;
      font-family: Aeroport,sans-serif;
      font-size: 18px;
      color: #dddddd;
    }
    div{
      color: #ffffff;
      font-size: 30px;
      margin-top: 5%;
    }
  }
}